{
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 120,
  "semi": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}